a {
    text-decoration: none;
}

.side-menu {
    width: 240px;
    display: flex;
    flex-direction: column;
    background: #fff;
    padding-top: 10px;
}

.side-menu--closed {
    width: 72px;
}

.side-menu--closed a .text {
    font-size: 9px;
}

.side-menu hr {
    width: 100%;
    height: 1px;
    background: #E5E5E5;
    border: 0;
}

.side-menu a {
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    text-decoration: none;
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #000000;
    padding-left: 26px;
    box-sizing: border-box;
}

.side-menu--closed a {
    flex-direction: column;
    padding: 0;
    height: 72px;
    justify-content: center;
    align-items: center;
}

.side-menu a:hover {
    background: rgb(0, 0, 0, 0.05);
}

.side-menu .icon {
    width: 25px;
    margin-right: 14px;
}
.side-menu--closed .icon {
    width: initial;
    margin: 0;
}

svg {
    fill: #606060;
    transition: fill 2s;
}

.side-menu a:active svg,
.side-menu .current svg {
    fill: #f00;
    transition: fill 0.1s;
}

.text {
    transition: color 2s;
}

.side-menu--closed a:active .text{
    color: #f00;
    transition: color 0.1s;
}

.side-menu a.current {
    background: rgba(0, 0, 0, 0.1);
}

.side-menu--closed a.current {
    color: #f00;
}

.side-menu--closed a .text {
    padding-top: 5px;
}

.side-menu-paragraph {
    font-family: Roboto;
    font-weight: 500;
    font-size: 14px;
    color: #606060;
    display: flex;
    height: 50px;
    width: 100%;
    padding-top: 16px;
    padding-left: 24px;
    box-sizing: border-box;
}
.side-menu--closed .side-menu-paragraph {
    display: none;
}

.side-menu-links span {
    display: block;
}

.side-menu-links {
    font-family: Roboto;
    font-weight: 500;
    font-size: 12px;
    display: flex;
    flex-wrap: wrap;
    padding-top: 16px;
    padding-left: 24px;
}

.side-menu-links a {
    padding: 0;
    background: none;
    height: initial;
    width: initial;
    margin-right: 8px;
    color: #606060;
}

.side-menu-links a:hover {
    text-decoration: underline;
}

.side-menu--closed .side-menu-links {
    display: none;
}